/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  /* Icon Button */
  .icon-button {
    --button-size: calc(var(--nav-size) * 0.65);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
    .navItem-icon{
      width: 20px;
      height: 20px;
    }
  }

  .icon-button:hover {
    filter: brightness(1.2);
  }

  .icon-button svg {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }
  .icon-button .navItem-icon.rotate{
    transform: rotate(180deg);
  }

  /* Dropdown Menu */

  .dropdown {
    overflow-x: hidden;
    position: absolute;
    top: 58px;
    right: 0;
    width: 350px;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
    z-index: 999;
    @media (max-width: 400px) {
      width: calc(100vw - 20px);
      right: -10px;
    }
  }

  .menu {
    width: 100%;
  }

  .menu-item {
    height: 60px;
    display: flex;
    align-items: center;
    text-align: left;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
    font-size: 18px;
    @media (max-width: 400px) {
      height: 60px;
    }
  }

  .menu-item .icon-button {
    margin-right: 0.5rem;
  }

  .menu-item .icon-button:hover {
    filter: none;
  }

  .icon-right {
    margin-left: auto;
  }

  /* CSSTransition classes  */
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }

  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }

  .menu-primary-exit {
    position: absolute;
  }

  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }

  .menu-secondary-enter {
    transform: translateX(110%);
  }

  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }

  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
}
