@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
.stack-tile-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px;
    border-radius: 15px;
    font-family: 'Reggae One', cursive;
    z-index: 0;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    @media (max-width: 468px){
        max-width: 150px;
        max-height: 150px;
    }

    .stack-tile-svg,
    .stack-tile-img {
        transform: rotateX(90deg);
        opacity: 0;
        transition: transform 1s .5s, opacity 1s .5s, color 2s 2s;
        color: #fff;
    };
}

.stack-tile-wrapper:hover{
    transform: scale(1.1);
    z-index: 0;
    @media (max-width: 768px){
        transform: scale(1.05);
    }
    transition: all 1s;
    cursor: pointer;
}

.stack-tile-logo{
    width: auto;
    border-radius: 10px;
    margin: 5px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 10;
}

.stack-tile-title{
    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    @media (max-width: 1024px){
        font-size: 20px;
    }
    @media (max-width: 768px){
        font-size: 16px;
    }
    margin: 5px;
    z-index: 9;
    opacity: 0;
    transition: opacity 1s .5s;

}