.text-typed{
    margin-top: 20px;
    color: #fff;
    background: transparent;
    border: none;
    width: 100vw;
    text-align: center;
    font-size: 4rem;
    @media (max-width: 768px){
        font-size: 3rem;
    }
    @media (max-width: 400px){
        font-size: 2rem;
    }
}

.text-typed::placeholder{
    color: var(--light-blue);
}

.text-typed:hover{
    cursor: default;
}