.projects-wrapper {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #fff;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    @media (max-width: 968px){
        width: 90vw;
        grid-template-columns: calc(45vw - 0px) calc(45vw - 0px);
        grid-template-rows: calc(45vw - 0px) calc(45vw - 0px);
    }
    @media (max-width: 668px){
        width: 95vw;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        row-gap: 20px;
    }
  }