.scroll-to-top__wrapper{
    position: fixed;
    right: 20px;
    bottom: 150px;
    z-index: 9999;
    visibility: hidden;
    transition: transform 10s;
    @media (max-width: 900px){
        right: 13px;
    }
}

.scroll-to-top__wrapper.outside-view{
    visibility: visible;
    animation: scrollToTopAnimation 3.4s 1;
    .scroll-to-top__icon{
        animation: scrollToTopAnimationBounce 3s 3.5s infinite;
    }
    .scroll-to-top__icon:hover{
        cursor: pointer;
    }
}


@keyframes scrollToTopAnimation {
    0% {
        transform: translateX(100px) rotateZ(180deg);
    }
    50% {
        transform: translateX(0px) rotateZ(180deg);
    }
    100% {
        transform: translateX(0px) rotateZ(0deg);
    }
}

@keyframes scrollToTopAnimationBounce {
    0% {
        transform: translateY(0px) rotateZ(0deg);;
    }
    50% {
        transform: translateY(10px) rotateZ(0deg);;
    }
    100% {
        transform: translateY(0px) rotateZ(0deg);;
    }
}