* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

.hidden{
  display: none !important;
}

main {
  padding: 1rem;
  margin: auto;
  overflow-x: hidden;
}

.main {
  min-height: calc(100vh - 187px);
  background-color: var(--dark-background);
  @media (max-width: 769px) {
    margin-top: 90px;
  }
}
.centered {
  text-align: center;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.line-item {
  display: inline-block;
}

.item-half {
  padding: 0 20px;
  width: 50%;
  height: 100%;
}

.btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid var(--beige);
  margin-bottom: 2rem;
  text-decoration: none;
  color: white;
  background-color: var(--beige);
  border-radius: 0.5rem;
}

.MuiMenuItem-root {
  font-size: 1.3rem !important;
}
#simple-menu .MuiPaper-root {
  border: 1px solid #fff;
}