:root {
    --light-blue: #D0E2F2;
    --light-white: #eaedf0;
    --darker-blue: #024179;
    --light-green: #BFB741;
    --darker-green: #8C862E;
    --beige: #BFA79F;
    --dark-grey: #878B8C;
    --black: #0B0D0C;
    --light-beige: #e3cdc6;
    --dark-beige: #786a66;
    --dark-background: #23222e;
    --light-background: #3d3b52;
    --bg:  #23222e;
    --bg-accent: #3d3b52;
    --text-color: #D0E2F2;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
  }

$NavHeight: 60px;
$FooterHeight: 114px;
$BeadcrumbsHeight: 44px;
$MainHeight: calc(100vh - 60px - 40px);
$MainInnerHeight: calc(100vh - 60px - 40px - 135px);
$MainServiceHeight: calc(100vh - 60px - 40px - 135px - 44px);
