body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  display: none;
}

.projects-hello {
  font-size: 102px;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 60px;
  }
  margin: 15px auto;
  font-family: 'Times New Roman', serif;
}
.projects-hello::after {
  content: '.';
  color: rgb(30, 229, 255);
}
