.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact_form-wrapper {
    width: 40vw;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 30px 0;

    @media (max-width: 1200px) {
        width: 60vw;
    }

    @media (max-width: 768px) {
        width: 90vw;
    }

    @media (max-width: 400px) {
        width: 100vw;
    }

    h2 {
        text-align: center;
        margin: 10px;
    }

    input,
    button {
        width: 100%;
        height: 55px;
        border: none;
        border-radius: 5px;
        padding: 15px;
    }

    label {
        width: 80%;
        text-align: center;
        margin-bottom: 3px;
    }

    input,
    label {
        font-size: 18px;
        margin-bottom: 5px;
        outline: 0;
    }

    textarea {
        width: 100%;
        height: 300px;
        border: none;
        border-radius: 5px;
        max-width: 100%;
        padding: 15px;
        font-size: 18px;
        outline: 0;
    }

    input::placeholder,
    textarea::placeholder {
        opacity: 0.5;
    }

    .contact-form__inpt-wrapper{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        .input-clue{
            position: absolute;
            right: calc(10% + 7px);
            bottom: 25px;
            min-width: 125px;
            min-height: 50px;
            padding: 10px;
            background-color: #364a43;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
            transition: opacity 1s;
            text-align: center;
            border-radius: 15px;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .input-clue__sign{
        content: "\2754";
        font-size: 22px;
        line-height: 25px;
        position: absolute;
        right: calc(10% + 7px);
        top: 0px;
        width: 25px;
        height: 25px;
        margin: 15px 0;
    }

    .input-clue__sign:hover{
        cursor: pointer;
        .input-clue{
            opacity: 1;
            visibility: visible;
        }
    }

    .contact-form .field-error {
        border: 2px solid red;
    }

    .contact-form .field-fullfilled {
        border: 2px solid green;
    }

    .btn {
        margin: 20px 0;
        height: 56px;
        width: 50%;
        letter-spacing: 1px;
        font-size: 18px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #0d2c24;
        border: 1px solid #69cf9c;
        border-radius: 35px;
        box-shadow: 0 20px 50px rgb(105 207 156 / 40%);
        color: #fff;
        padding: 0 40px;
        font: 700 16px/1 "Shopify Sans", Arial, sans-serif;
        position: relative;
        z-index: 9;

        @media (max-width: 868px) {
            height: 46px;
        }
    }

    .btn:hover {
        cursor: pointer;
        background: linear-gradient(180deg, #0d2c24, #69cf9c);
    }
    .form-field:focus{
        box-shadow: inset 0 0px 20px rgb(105 207 156 / 60%);
    }
    .form-field{
        padding-right: 35px;
        position: relative;
    }

    .consent_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin-top: 10px;

        input {
            margin-left: 10px;
            background-color: #0d2c24;
            color: #0d2c24;
        }

        input[type="checkbox"] {
            width: 30px;
            height: 30px;
            position: relative;
            box-shadow: inset 0 0px 35px rgb(105 207 156 / 60%);
        }

        input[type="checkbox"]:hover,
        label:hover {
            cursor: pointer;
        }

        input[type="checkbox"]::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 30px;
            height: 30px;
            background: #0d2c24;
            box-shadow: inset 0 0px 10px rgb(105 207 156 / 60%);
        }

        input[type="checkbox"]:checked::after {
            content: "";
            position: absolute;
            left: 9px;
            top: 4px;
            width: 10px;
            height: 15px;
            border-bottom: 3px solid #69cf9c;
            border-right: 3px solid #69cf9c;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        a:link,
        a:visited,
        a:active {
            color: #69cf9c;
            background-color: transparent;
            text-decoration: none;
        }

        a:hover {
            color: #308259;
            background-color: transparent;
            text-decoration: underline;
        }
    }

    h3 {
        width: 80%;
        color: #69cf9c;
        text-align: center;
    }

    .error_message {
        color: rgb(206, 19, 16);
    }
    a:hover {
        color: #308259;
        background-color: transparent;
    }
}

@keyframes btnAnimation {
    0% {
        opacity: 0.45;
    }

    25% {
        opacity: 0.2;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0.45;
    }
}