.footer-wrapper {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  padding: 10px;
  .line-item {
    display: inline-block;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      padding: 0 10px;
      cursor: pointer;
      text-transform: none;
      line-height: 1.75;
    }
  }
  .footer-body {
    display: flex;
    .footer-right {
      width: 15%;
      min-width: 200px;
      text-align: left;
    }
    .footer-left {
      width: 85%;
    }
    @media (max-width: 1700px) {
      .footer-right {
        width: 20%;
      }
      .footer-left {
        width: 80%;
      }
    }
    @media (max-width: 1400px) {
      .footer-right {
        width: 25%;
      }
      .footer-left {
        width: 75%;
      }
    }
    @media (max-width: 1100px) {
      .footer-right {
        width: 30%;
      }
      .footer-left {
        width: 70%;
      }
    }
    @media (max-width: 900px) {
      .footer-right {
        width: 40%;
      }
      .footer-left {
        width: 60%;
      }
    }
    @media (max-width: 600px) {
      flex-direction: column;
      .footer-right,
      .footer-left {
        width: 100%;
        text-align: center;
      }
      .social-icons {
        margin-right: 10px;
      }
      ul {
        margin: 5px 0;
        li {
          padding: 5px 0;
        }
      }
    }
  }
  .footer-head {
    .line-item {
      font-size: 20px;
    }
  }
  .MuiButtonBase-root {
    padding: 0;
    margin-bottom: 4px;
  }
}
