.categories-wrapper {
    padding-top: 5px;
    max-width: 100vw;
    overflow-x: hidden;
    margin-left: 20px;
    @media (max-width: 768px) {
        margin-left: 0;
    }

    h2 {
        margin: 20px;
        text-align: center;
        font-size: 32px;
    }

    .slick-slider {
        margin: 0 auto;
    }

    .slick-slider,
    .slick-list,
    .slick-track,
    .slick-track div div {
        height: 100%;
        width: 90%;
        min-height: 500px;
        @media (max-width: 1024px) {
            min-height: 450px;
        }

        @media (max-width: 768px) {
            min-height: 400px;
        }
    }

    .slick-list {
        margin: 0 auto;
    }

    .slick-track div div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slick-slide div {
        margin: 25px auto;
        @media (max-width: 768px) {
            margin: 25px auto;
        }
    }

    .slick-prev,
    .slick-next {
        width: 40px;
        height: 40px;
        background: transparent !important;
        border-radius: 50%;
        z-index: 10;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 50px;
    }

    .slick-prev {
        left: 0px;
        @media (max-width: 468px) {
            left: -20px;
        }
    }

    .slick-next {
        right: 10px;
        @media (max-width: 468px) {
            right: -10px;
        }
    }
    .slick-slide {
        transition: all 1s;
        visibility: hidden;
    }
    .slick-slide.slick-active{
        visibility: visible;
    }
}