.breadcrumbs{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: transparent;
    li:hover{
        text-decoration: underline;
    }
    .line-item{
        mix-blend-mode: difference;
    }
}