.flex-wrapper {
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100vw;
  padding: 5px 20px;
  box-sizing: border-box;
  min-height: 90px;
  font-size: 25px;
  .nav-left,
  .nav-right {
    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline-block;
        padding: 0 10px;
        cursor: pointer;
        font-size: 20px;
        text-transform: none;
      }
    }
  }

  .nav-left {
    text-align: left;
    width: calc(50% - 30px);
    z-index: 0;
    @media (max-width: 768px) {
      display: none;
    }
  }

  .nav-right {
    text-align: right;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    height: 40px;
    width: 200px;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .layout-icon{
        height: 30px;
        width: 30px;
      }
    }
    @media (max-width: 768px) {
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      width: 100%;
      padding: 0;
    }

  }

  .nav-center {
    width: 40px;
    height: 70px;
    z-index: 0;

    .nav-logo {
      width: 60px;
      z-index: 1000;
      left: calc(50vw - 25px);
      border-radius: 10px;
      @media (max-width: 768px) {
        display: none;
      }
      @media (max-width: 468px) {
        left: 10px;
      }
    }
    .nav-logo:hover{
      cursor: pointer;
    }
  }

  .nav-center-mobile {
    width: 100%;
    top: 10px;
    left: 0;

    .nav-logo {
      
      width: 60px;
      height: auto;
      position: absolute;
      top: 20px;
      left: calc(50% - 25px);
      border-radius: 10px;
    }
  }
}

.navbar{
  z-index: 999;
}
.flex-wrapper.navigation{
  @media (max-width: 769px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
}
.menuItem.header{
  padding: 0;
}
.menuItem.header a{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}