.react-switch{
  display: none !important; //temporary
}
.flex-wrapper {
  justify-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100vw;
  padding: 0px 20px;
  box-sizing: border-box;
  min-height: 60px;
  @media (max-width: 768px){
    max-height: 0px;
    min-height: 0px;
  }
  font-size: 25px;
  .nav-left,
  .nav-right {
    ul {
      list-style: none;
      padding: 0;

      li,
      .list-item {
        display: inline-block;
        padding: 0 10px;
        cursor: pointer;
        font-size: 20px;
        text-transform: none;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        height: 100%;
      }
    }
  }

  .nav-left {
    text-align: left;
    width: calc(50% - 30px);
    @media (max-width: 768px) {
      display: none;
    }
    .MuiButton-text{
      padding: 0;
    }
  }

  .nav-right {
    text-align: right;
    position: fixed;
    top: 9px;
    right: 20px;
    z-index: 999;
    height: 40px;
    width: 200px;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .layout-icon{
        height: 30px;
        width: 30px;
      }
      li{
        padding: 0;
      }
    }
    @media (max-width: 768px) {
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      padding: 0;
    }

  }

  .nav-center {
    width: 40px;
    z-index: 0;
    min-height: 40px;
    @media (max-width: 768px){
      max-height: 0px;
      min-height: 0px;
    }

    .nav-logo {
      -webkit-transform:translate3d(0,0,0);
      transform:translate3d(0,0,0);
      width: 50px;
      z-index: 1000;
      position: absolute;
      left: calc(50vw - 25px);
      top: 2px;
      border-radius: 10px;
      @media (max-width: 768px) {
        display: none;
      }
      @media (max-width: 468px) {
        left: 10px;
      }
    }
    .nav-logo:hover{
      cursor: pointer;
    }
  }

  .nav-center-mobile {
    width: 100%;
    top: 10px;
    left: 0;

    .nav-logo {
      -webkit-transform:translate3d(0,0,0);
      transform:translate3d(0,0,0);
      width: 60px;
      height: auto;
      position: absolute;
      top: 20px;
      left: calc(50% - 25px);
      border-radius: 10px;
    }
  }
}

.navbar{
  z-index: 999;
}
.flex-wrapper.navigation{
  @media (max-width: 769px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
}
.menuItem.header{
  padding: 0;
}
.menuItem.header a{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}