.banner {
    &_wrapper {
        display: flex;
        align-items: center;
        height: 40px;
        width: 100vw;
        background-color: red;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        font-size: 30px;
        @media (max-width: 1000px){
            display: none;
        }
    }
    &_wrapper:hover{
        cursor: pointer;
    }
}